
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #402727;
    background-image: url(vijay22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    backdrop-filter: blur(20px);
}

  
  .topbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .explore-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .explore-menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
  }
  
  .blog-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    margin: 20px;
    padding: 15px;
  }
  
  .blog-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  
  .blog-title {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .blog-author {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  
  .blog-description {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
  }

  